body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #273549;
    color: white;
    font-family: Karla, sans-serif;
}

#main {
    width: 498px;
    height: 498px;
    margin: 50px 52px;
    padding: 52px;
    background-color: #1F2937;
    border-radius: 15px;
}

h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -1px;
    width: 354px;
    margin-top: 63px;
    margin-bottom: 10px;
}

#headerColor {
    color: #4ADF86;
}

hr {
    border-top: 2px solid #2F3E53;
    border-right: none;
    border-bottom: none;
    border-left: none;
    width: auto;
    margin-bottom: 35px;

}


h2 {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 28px;
    color: #D5D4D8;
    margin-bottom: 50px;
}

button {
    border: none;
    background: #10B981;
    padding: 9px 16px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: white;
    margin-bottom: 35px;
}

#line_container {
}

#passwordContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.passwordField {
    width: 211px;
    height: 39px;
    border-radius: 6px;
    background: #273549;
    
}

.pwText {
    text-align: center;
    color: #4ADF86;
    justify-content: center;
}