body {
    margin: 0;
    background-color: #1F2937;
    color: white;
    font-family: Karla, sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -1px;
    width: 354px;
}

#headerColor {
    color: #4ADF86;
}

hr {
    border-top: 2px solid #2F3E53;
    border-bottom: none;

}


h2 {
    width: 372px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 28px;
    color: #D5D4D8
}

button {
    border: none;
    background: #10B981;
    padding: 9px 16px;
    border-radius: 6px;
    width: 159px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: white;
}

.passwordContainer {display: flex;
    width: 211px;
    height: 39px;

    border-radius: 6px;
    background: #273549;
}